.appName{
  margin-top: 150px;
    color: #ccc;
    text-shadow: 1px 1px 2px rgb(51, 48, 233), 0 0 1em rgb(239, 228, 240), 0 0 0.2em rgb(43, 45, 170);
    font-size: 100px;
    text-align: center;

  }
  /* .appNameContainer{
    width: 100vh;
    padding-top: 13vh;
    padding-left:30vh;
  } */
 
  .boxies{
    margin-top: 200px;
    display: flex;
    justify-content:space-evenly  ;
    text-align: center;
    border: white;

  }

img.game{
  background-color: black;
  margin-top: -90px; 
  /* text-align: center; */
  border: 2px solid white;
  border-radius: 20px;
  width: 100px;
}
img.consoleimg{
  background-color: black;
  margin-top: -90px; 
  /* text-align: center; */
  border: 2px solid white;
  border-radius: 20px;
  width: 100px;
} 

.consoleContainer{
  /* margin-right: -110px; */
  border: 2px solid white;
  width: 300px;
  height: 290px;
  border-radius: 20px;

}

.gameContainer {
  border: 2px solid white;
  width: 300px;
  height: 290px;
  border-radius: 20px;


}

h2{
  padding-top: 80px;
  font-size: 49px;
  text-shadow: 1px 1px 1px rgb(51, 48, 233),
   0 0 1em rgb(239, 228, 240),
    0 0 0.2em rgba(43, 45, 170, 0.39);

}

 /* .appNameContainer{
    /* border: 2px inset rgb(158, 154, 154); */
    /* margin-top: 100px;
    border: soild  rgb(241, 232, 232);
    text-align: center;
    
}  */ 

/* .consoleMiniContainer{
    /* padding-top: 30px; */
    /* margin-left:150px;  */
    /* text-align: center;
    width: 400px;
    height: 100px;
    border: 2px inset rgb(158, 154, 154);
    border-radius: 8px;
    color: aliceblue;
} */ 

/* .gameMiniContainer{
  margin-left: -200px; 
  padding-top: 30px;
  width: 400px;
  height: 30px;
  border: 2px solid rgb(158, 154, 154);
  border-radius: 8px;
  color: aliceblue;

}
.consoleMiniContainer:hover{
    background-color: rgba(51, 48, 233, 0.11);
    cursor: pointer;
} */



/* .gameContainer{
  margin-top: -40vh;
  /* margin-left: 85vh; */
  /* border: soild  rgb(241, 232, 232); */
  /* text-align: center;
}  */



/* .gameMiniContainer:hover{
  background-color: rgba(51, 48, 233, 0.11);
  cursor: pointer;
} */ 